.Rproj.user
.Rhistory
.RData
.Ruserdata
**/.quarto/*
data/**
**/*_cache/*
*_files/*
**/*_freeze/*
**/*tsv*
**/*csv*
**/*xlsx*
**/*zip
**/*pdf*
**/*json
**/*rds
/.quarto/*
**/gganim*
data/
/.quarto/
/Rplot.png
Rplot.png
# allow Quarto build assets inside docs/
!docs/*_files/**
!docs/site_libs/**
.DS_Store
.RData*
docs/site_libs/

x
